*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    width: 100px;
    height: 100px;
    background-color:red;
    position: relative;
    animation: exa 3s infinite ease-in-out;
    }
@keyframes exa{
 0%{
    top:50px;
    right: 10px;
    left: 40px;
    background-color: blue;
 }
 25%{
    top:20px;
    right: 50px;
    left: 40px;
    background-color: black;
 }
 50%{
    top:100px;
    right: 10px;
    left: 100px;
    background-color: pink;
 }
 75%{
    top:50px;
    right: 10px;
    left: 40px;
    background-color: green;
 }
 100%{
    top:50px;
    right: 10px;
    left: 40px;
    background-color: orchid;
 }
}