* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.box{
    background-color: lightgreen;
    border-width: 3px;
    border-style: red;
    border-color:black;
    border: 3px solid green;
    border-radius: 20px;
    padding: 20px;
    margin: 30px 40px;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 40px;

    /* */

    
}
.box2{
    border-left: 3px solid red;
    border-top: 4px dashed blue;
    border-right: 6px solid red;
    border-bottom: 3px dotted black;
    border-top-left-radius: 10px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 40px;
    margin: 20px;
}

.box3{
    background-color: aqua;
    width: 100px;
    height: 100px;
    border: 5px solid red;
    border-radius:50%;
    padding: 25px;

}