$bgColor:rgb(30, 227, 30);
$primary_color:rgb(178, 73, 90);

body{
    background-color: rgb(37, 11, 155);
}

.header{
    display:flex ;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


h1{
   color: rgb(243, 236, 236); 
   font-size: 55px;
}
p{
    color: yellow;
    font-size: 35px;
}