* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.p1 {
    text-align: center;
    background-color: bisque;
    border-width: 3px;
    border-color: black;
    border-style: solid;
    margin: 50px;
    padding: 40px;
    width: 60%;
    margin-left:25% ;
    
}

.p2 {
    text-align: center;
    background-color: aliceblue;
    border-width: 3px;
    border-color: brown;
    border-style: solid;
    padding: 40px;
    width: 60%;
    margin-left: 25%;
    
}